a{
	color: #63a1e0;
}
a:hover, a:focus, a:active{
	color: #4c8bcb;
}
body.paw5 a:hover, body.paw5 a:focus, body.paw5 a:active{
	color: #F1994C;
}
.text-highlight{
	color: #17cd64;
}
.header{
	background: #1c3c77;
}
.sidebar{
	background: #fafafa;
	border-left: #e6e6e6;
}
h2{
	font-size: 18px;
	font-weight: bold;
}
h2.custom-header{
	display: block;
	border-bottom: 2px solid #d6d3d3;
	padding-bottom: 5px;
	margin-bottom: 15px;
}
h4{
	font-size: 1em;
	font-weight: bold;
}
.box-shadow{
	box-shadow: 1px 5px 10px #ccc;
}
.form-js-label {
  position: relative;
  padding: 0;
  border: 0;
}
.form-js-label input {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-js-label label {
  position: absolute;
  top: 7px;
  left: 8px;
  color: #909090;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form-js-label input[data-empty="false"], .form-js-label input:focus {
  padding: 22px 8px 10px;
}
.form-js-label input:focus {
  outline: none;
  background: white;
}
.form-js-label input[data-empty="false"] + label, .form-js-label input:focus + label {
  color: #999;
  font-weight: 700;
  font-size: 11px;
  -webkit-transform: translate3d(0, -7px, 0);
  transform: translate3d(0, -7px, 0);
}
.form-check-group{
	border: 1px solid #e6e6e6;
	border-radius: 6px;
}
.form-check-group .form-check{
	border-bottom: 1px solid #e6e6e6;
	padding: 6px 10px 6px 30px;
}
.form-check-group .form-check:last-child{
	border-bottom: none;
}
.form-group .field-icon{
	position: absolute;
	z-index: 2;
	top: 12px;
	right: 10px;
	font-size: 0.9em;
	color: #999;
}
.btn-primary{
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 25px;
	border: none;
	background: #17cd64; /* Old browsers */
	background: linear-gradient(to bottom, #17cd64 0%,#0aad4f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	font-weight: bold;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.disabled, .btn-primary:disabled {
	background: #0aad4f;
}
.btn-dark{
	background: #000;
	color: #fff;
	border-radius: 0;
}
.has-error input, .has-error select, .has-error textarea{
	border-color: red !important;
	background-color: #f8e4e5;
}
.help-block.error{
	color: red;
	font-size: 11px;
}
.cc-wrapper{
	border: 1px solid #e6e6e6;
	border-radius: 6px;
}
.cc-wrapper-header{
	background: #fff;
	padding: 10px;
	border-radius: 6px 6px 0 0;
}
.cc-wrapper-body{
	background: #fafafa;
	border-top: 1px solid #e6e6e6;
	padding: 10px;
	border-radius: 0 0 6px 6px;
}
.colours-title{
	background: rgba(0,0,0,0.1);
	font-weight: bold;
	font-size: 0.9em;
}
.radio-toolbar {
    margin: 0 10px;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    font-size: 0;
    border: 1px solid #999;
}
.radio-toolbar label.label-orange{
    background-color: orange;
}
.radio-toolbar label.label-blue{
    background-color: lightskyblue;
}

.radio-toolbar label:hover {
    border: 1px solid #666;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 3px solid #666;
}

.radio-toolbar input[type="radio"]:checked + label {
    border: 3px solid #666;
}
#billing-wrapper{
	display: none;
}
#footer ul li{
	border-right: 1px solid #001f58;
	padding-right: 10px;
}
#footer ul li:last-child{
	border-right: none;
	padding-right: 0;
}
#footer ul li a{
	color: #001f58;
	font-weight: bold;
}
#footer.paw5 ul li a{
	color: black;
}
#footer.paw5 ul li a:hover{
	color: #F1994C;
}
#footer p{
	font-size: 0.8em;
}
.product-image {
	max-width: 100px;
  max-height: 100px;
}
@media (min-width: 768px){
	.main-content{
		width: 50%;
	}
	.sidebar{
		width: 50%;
	}
	.border-right-md{
		border-right: 1px solid #dee2e6;
	}
}
@media (min-width: 992px){
    .main-content{
        width: 55%;
    }
    .sidebar{
        width: 45%;
    }
}
@media (min-width: 1200px){
    .main-content{
        width: 60%;
    }
    .sidebar{
        width: 40%;
    }
}
@media (max-width: 991px){
	#footer, #footer .text-right{
		text-align: center !important;
	}
	#footer ul{
		margin-top: 20px;
	}
}
@media (max-width: 767px){
	.border-right-md{
		border-bottom: 1px solid #dee2e6;
	}
	#footer ul li{
		display: block;
		border-right: none;
        padding-right: 0;
        margin-right: 0;
	}
	#footer ul{
		margin-bottom: 20px !important;
	}
}

@media screen and (max-width: 575px) {
	.product-image {
		max-width: 60px;
		max-height: 60px;
	}
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal * {
	text-align: center;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
	text-align: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
