h1, .h1{
  font-size: 36px;
  font-weight: 700;
  color: rgb(30, 40, 90);
  margin-bottom: 20px;
}
h2, .h2{
  font-size: 24px;
  font-weight: 700;
  color: rgb(30, 40, 90);
  margin-bottom: 20px;
  line-height: 1.5em;
}
.light-title{
  color: rgb(84, 86, 90);
  font-size: 24px;
}
a{
  text-decoration: underline;
}
strong{
  font-weight: 700;
}
.small-text{
  font-size: 14px;
  line-height: 18px;
}
.text-strike{
  text-decoration: line-through;
}
.big-quote{
  padding: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  background: rgba(30,40,90,1);
  font-weight: 700;
  font-style: italic;
  color: rgb(255, 237, 207);
  font-size: 24px;
  position: relative;
}
.big-quote:before{
  content: "";
  width: 92px;
  height: 92px;
  background-image: url(../images/quote1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: -40px;
  left: -40px;
}
.big-quote:after{
  content: "";
  width: 92px;
  height: 92px;
  background-image: url(../images/quote2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: -40px;
  right: -40px;
}
.btn-outline-primary{
  border: 2px solid #00215D !important;
  color: #00215D !important;
  font-weight: 700;
  text-decoration: none;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active{
  background: #00215D !important;
  color: #fff !important;
}
.btn-primary{
  background: rgba(0,206,124,1);
  color: #fff;
  border-radius: 30px;
  border: none;
  text-decoration: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background: rgba(0,196,108,1);
  color: #fff;
}
.discount{
  background: rgba(0,206,124,1);
  padding: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.header{
  background: rgba(0,33,93,1);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.responsive-logo{
  margin: 0 auto;
}
.bg-cream{
  background: rgba(255,237,207,1);
}
.bg-blue{
  background: rgba(30,40,90,1);
  color: #fff;
}
.bg-blue h2, .bg-blue .h1{
  color: #fff;
}
.bg-blue .text-cream{
  color: rgba(255,237,207,1);
}
.content-area{
  font-family: Domine;
}
.font-normal{
  font-family: Helvetica, Arial, sans-serif;
}
.text-medium{
  font-size: 18px;
}
.text-cream{
  color: rgba(255,237,207,1);
}
.text-blue{
  color: rgba(30,40,90,1);
}
.text-green{
  color: rgb(14, 160, 32);
}
.text-red{
  color: rgb(182, 33, 33);
}
.secure-logos div{
  vertical-align: middle;
}
.review-content{
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 10px;
  padding: 20px;
}
.review-content h3{
  font-size: 20px;
}
.review-content img.author{
  border-radius: 50%;
  margin-top: -70px;
}

#footer{
  background: rgba(0,33,93,1);
  color: #fff;
}

#carouselExampleIndicators{
  width: 333px;
}

.carousel-indicators{
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

.carousel-indicators li{
  z-index: 1;
  text-indent: 0;
  height: auto;
  width: 90px;
  opacity: 1;
  padding: 3px;
  border: 1px solid rgb(30, 40, 90);
  border-radius: 6px;
}

#cbd_bites_options .cbdbite-product:hover{
  box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
  border-color: #666 !important;
}

#cbd_bites_options .text-strike{
  font-size: 28px;
}
#cbd_bites_options .text-red{
  font-size: 25px;
  font-family: 'Sriracha', cursive;
}
.sticker{
	display: block;
  width: 120px;
  height: 120px;
  background-image: url(../images/sticker.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 140px;
  right: -20px;
}

@media (min-width: 1200px){
   #cbd_bites_options h2{
    font-size: 32px;
   }
   .secure-logos > div:first-child{
     border-right: 1px solid #dee2e6; 
   }
}

@media (max-width: 1200px){
   #cbd_bites_options h3{
    font-size: 23px;
   }
  .secure-logos img{
    width: 180px;
    height: auto;
  }
  .sticker{
    with: 100px;
    height: 100px;
    right: -20px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .sticker{
    width: 80px;
    height: 80px;
  }
  #cbd_bites_options .text-strike, #cbd_bites_options .h3{
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1200px){
  #cbd_bites_options h3{
    display: block;
    height: 60px;
  }
  #cbd_bites_options .text-red{
    display: block;
    height: 50px;
    line-height: 1.1em;
    font-size: 21px;
  }
  #cbd_bites_options .text-strike, #cbd_bites_options .h3{
    font-size: 18px;
  }
}

@media (max-width: 767px){
  .discount{
    font-size: 10px;
    padding: 5px 3px;
  }
  .big-quote:before, .big-quote:after{
    width: 35px;
    height: 35px;
  }
  .big-quote:before{
    top: 5px;
    left: 5px;
  }
  .big-quote:after{
    bottom: 5px;
    right: 5px;
  }
  #cbd_bites_options .cbdbite-product{
    margin-bottom: 20px;
  }
  #carouselExampleIndicators{
    margin-left: auto;
    margin-right: auto;
  }
  h1, .h1{
    font-size: 26px;
  }
  h2, .h2, .light-title{
    font-size: 18px;
  }
  .sticker{
    right: 10px;
    bottom: 150px;
  }
}

@media (max-width: 333px){
  #carouselExampleIndicators{
    width: 100%;
  }
  .discount{
    padding: 5px;
    font-size: 13px;
  }
  #main-nav .container{
    padding: 0;
  }
  #main-nav img{
    margin-left: auto;
    margin-right: auto;
  }
}
